body {
   height: 90vh;
   flex-direction: column;

   background-color: rgb(25, 25, 25);
   color: white;
   font-family: Arial;
}

h2 {
   margin-top: 3.75rem;
}

.flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
}

.move-icons {
   width: 50px;
   aspect-ratio: 1;
}

.rps-buttons-container {
   gap: 10px;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.rps-buttons {
   cursor: pointer;
   background-color: inherit;
   border: 3px solid whitesmoke;
   padding: 35px;
   border-radius: 65px;
}

.score {
   margin-top: 4rem;
}

.reset-score {
   font-size: 15px;
   padding: 7px 15px;
}
